
@{
    ViewBag.Title = "AnaSayfa";
    Layout = "~/Views/Shared/Layoutindex.cshtml";
}



<div id="colorlib-practice">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center colorlib-heading">
                <h2>Çalışma Alanlarımız</h2>

            </div>
        </div>


        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                <div style="background-image: url(../Content/images/b-sınıfı.jpg);" class="image-grid-cover">
                    <a href="../Sayfalar/Isvesosyalguvenlikhukuku" class="image-grid-clickbox"></a>
                    <a href="../Sayfalar/Isvesosyalguvenlikhukuku" class="cover-wrapper">İŞ VE SOSYAL GÜVENLİK HUKUKU</a>
                </div>
            </div>



            <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                <div style="background-image: url(../Content/images/lady-justice-2388500_640.jpg);" class="entry-cover image-grid-cover has-image">
                    <a href="../Sayfalar/Vergihukuku" class="image-grid-clickbox"></a>
                    <a href="../Sayfalar/Vergihukuku" class="cover-wrapper">VERGİ HUKUKU</a>
                </div>
            </div>


            <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                <div style="background-image: url(../Content/images/law-1509437_640.jpg);" class="entry-cover image-grid-cover has-image">
                    <a href="../Sayfalar/Tazminathukuku" class="image-grid-clickbox"></a>
                    <a href="../Sayfalar/Tazminathukuku" class="cover-wrapper">TAZMİNAT HUKUKU</a>
                </div>
            </div>



            <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                <div style="background-image: url(../Content/images/judge-1587300_640.jpg);" class="entry-cover image-grid-cover has-image">
                    <a href="../Sayfalar/Idarehukuku" class="image-grid-clickbox"></a>
                    <a href="../Sayfalar/Idarehukuku" class="cover-wrapper">İDARE HUKUKU</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                <div style="background-image: url(../Content/images/passport-2642170_640.jpg);" class="entry-cover image-grid-cover has-image">
                    <a href="../Sayfalar/TurizmHukuku" class="image-grid-clickbox"></a>
                    <a href="../Sayfalar/TurizmHukuku" class="cover-wrapper">TURİZM HUKUKU</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                <div style="background-image: url(../Content/images/13113.jpg);" class="entry-cover image-grid-cover has-image">
                    <a href="../Sayfalar/Imarhukuku" class="image-grid-clickbox"></a>
                    <a href="../Sayfalar/Imarhukuku" class="cover-wrapper">İMAR HUKUKU</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                <div style="background-image: url(../Content/images/hammer-802301_640.jpg);" class="entry-cover image-grid-cover has-image">
                    <a href="../Sayfalar/Sirketlerhukuku" class="image-grid-clickbox"></a>
                    <a href="../Sayfalar/Sirketlerhukuku" class="cover-wrapper">ŞİRKETLER HUKUKU</a>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                <div style="background-image: url(../Content/images/patent-stratejisi-555x250.jpg);" class="entry-cover image-grid-cover has-image">
                    <a href="../Sayfalar/Fikrivesinaihaklarhukuku" class="image-grid-clickbox"></a>
                    <a href="../Sayfalar/Fikrivesinaihaklarhukuku" class="cover-wrapper">FİKRİ VE SINAİ HAKLAR HUKUKU</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                <div style="background-image: url(../Content/images/criminal-def-law.jpg);" class="entry-cover image-grid-cover has-image">
                    <a href="../Sayfalar/Cezahukuku" class="image-grid-clickbox"></a>
                    <a href="../Sayfalar/Cezahukuku" class="cover-wrapper">CEZA HUKUKU</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                <div style="background-image: url(../Content/images/passport-2642170_640.jpg);" class="entry-cover image-grid-cover has-image">
                    <a href="../Sayfalar/Yabancilarvevatandaslikhukuku" class="image-grid-clickbox"></a>
                    <a href="../Sayfalar/Yabancilarvevatandaslikhukuku" class="cover-wrapper">YABANCILAR VE VATANDAŞLIK HUKUKU</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                <div style="background-image: url(../Content/images/gavel-3577255_640.jpg);" class="entry-cover image-grid-cover has-image">
                    <a href="../Sayfalar/Icraiflashukuku" class="image-grid-clickbox"></a>
                    <a href="../Sayfalar/Icraiflashukuku" class="cover-wrapper">İCRA İFLAS HUKUKU</a>
                </div>
            </div>


            <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                <div style="background-image: url(../Content/images/hammer-620011_640.jpg);" class="entry-cover image-grid-cover has-image">
                    <a href="../Sayfalar/Tuketicihukuku" class="image-grid-clickbox"></a>
                    <a href="../Sayfalar/Tuketicihukuku" class="cover-wrapper">TÜKETİCİ HUKUKU</a>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                <div style="background-image: url(../Content/images/real-estate.jpg);" class="entry-cover image-grid-cover has-image">
                    <a href="../Sayfalar/Gayrimenkulveinsaathukuku" class="image-grid-clickbox"></a>
                    <a href="../Sayfalar/Gayrimenkulveinsaathukuku" class="cover-wrapper">GAYRİMENKUL VE İNŞAAT HUKUKU</a>
                </div>
            </div>

        </div>



    </div>
</div>