
@{
    ViewBag.Title = "Idarehukuku";
    Layout = "~/Views/Shared/Layoutsingle.cshtml";
}
<div id="colorlib-practice">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center colorlib-heading">
                <h2>  İDARE HUKUKU</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 colorlib-heading">
                <p>
                    Kamuya sağlanan üstünlük ve ayrıcalıkların karşısında, bireylerin sahip olduğu hak ve
                    hürriyetler arasındaki dengeyi sağlayan hukuk dalıdır. İdare hukuku’na bağlı bir çok alt dal
                    bulunmakta olup Çelikten Avukatlık Bürosu, müvekkillerinin Kamu karşısında haklarının
                    savunulması çerçevesinde idare hukukunda yoğun olarak çalışmalarını sürdürmektedir.
                </p>
            </div>
        </div>

    </div>
</div>
