
@{
    ViewBag.Title = "Isvesosyalguvenlikhukuku";
    Layout = "~/Views/Shared/Layoutsingle.cshtml";
}

<div id="colorlib-practice">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center colorlib-heading">
                <h2>İŞ VE SOSYAL GÜVENLİK HUKUKU</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 colorlib-heading">


                <ul>
                    <li> İş kazası ve iş kazasından doğan tazminat davaları </li>
                    <li>İş sözleşmesinin feshinden kaynaklı kıdem,ihbar,fazla çalışma, yıllık izin ve maaş alacakları davaları</li>
                    <li> İşe iade davaları </li>
                    <li> Mobbing ve kötü niyet tazminatlarına ilişkin davaların açılması ve takibi </li>
                    <li> Çalışan ve üçüncü kişiler yönünden işverenin kusursuz sorumlulukları </li>
                    <li> İş hukuku alanında gereken ibranameler ve ihtarnameler düzenlenmesi </li>
                    <li> Hizmet tespit davası ( Sigortalılığın tespiti) </li>
                    <li> Sosyal sigorta davaları </li>
                    <li>
                        Şirketlere danışmanlık hizmeti verilerek ileride doğabilecek ihtilafların önüne geçilmesi konusunda
                        danışmanık
                    </li>
                    <li>İş sözleşmesinin denetimi ve uygulanması  </li>
                    <li> İş sözleşmelerinin feshi aşamasının hazırlanması, sözleşmeye uygun fesih denetimi gerçekleştirilmesi </li>
                    <li>  İşe giriş sözleşmelerinin hazırlanması ve denetlenmesi</li>
                    <li>
                        İşçi özlük dosyası, yıllık ücretli izin defteri, işe devam çizelgeleri, işçi ücret bordrolarının
                        denetlenmesi ve gözetim altında tutulması
                    </li>
                    <li>  İşverenin sendikal haklarının ve faaliyetlerinin denetlenmesi ve düzenlenmesi</li>
                    <li>  Güncel mevzuat ile uyumlu sözleşme yapılarının oluşturulması</li>
                    <li>
                        iş hukukundan doğan uyuşmazlıkların, arabuluculuk kurumu ile çözümü konusunda danışmanlık
                        hizmeti başta olmak üzere iş ve sosyal güvenlik hukukundan doğan tüm davalarda hizmet
                        sunulmaktadır.
                    </li>

                </ul>
            </div>
        </div>

    </div>
</div>

