
@{
    ViewBag.Title = "odemebilgileri";
    Layout = "~/Views/Shared/Layoutsingle.cshtml";
}

<div id="colorlib-practice">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center colorlib-heading">
                <h2>Ödeme Bilgileri</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 colorlib-heading">


                <h4>BANKA HESAP, IBAN ve ONLİNE ÖDEME BİLGİLERİMİZ</h4>
                <h4>IBAN:</h4>
                <ul>
                    <li> ZİRAAT BANK :     TR81 0001 0008 7753 1075 3450 01</li>
                    <li> VAKIFBANK        TR25 0001 5001 5800 7300 6046 79  </li>
                    <li> İŞ BANKASI TR53 0006 4000 0014 2110 7742 95</li>
                    <li><a style="display:block; width:535px; height:158px; text-decoration:none; color:#444; background:url(https://pos.param.com.tr/Tahsilat/images/etahsilat.png) no-repeat; padding-left:105px; font:bold 13px Tahoma" href="https://pos.param.com.tr/Tahsilat/Default.aspx?k=4efb590b-a416-4838-80c2-d41a99bf1109" target="_blank">ÇELİKTEN HUKUK<br />ÖDEME YAPMAK İÇİN <br />TIKLAYINIZ</a></li>
                </ul>

               

                
            </div>
        </div>

    </div>
</div>
