
@{
    ViewBag.Title = "Tuketicihukuku";
    Layout = "~/Views/Shared/Layoutsingle.cshtml";
}
<div id="colorlib-practice">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center colorlib-heading">
                <h2>TÜKETİCİ HUKUKU</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 colorlib-heading">

                <p>
                    Çelikten, tüketici hukuku alanında Tüketicinin Korunması Hakkında Kanun, Borçlar Kanunu, Ticaret
                    Kanunu,  vs ilgili yönetmelikler alanına giren konuların, Tüketici Hakem Heyeti ve Tüketici
                    Mahkemelerinde görülen ihtilaflı hususların çözümünde hizmet vermektedir.
                </p>


                <h4> Çelikten tarafından Tüketici Hukuku alanında verilen hizmetlerden bazıları şunlardır:</h4>
                <ul>
                    <li>	Alım Satım Sözleşmeleri</li>
                    <li>	Tüketici hukuku alanında tüm mevzuatın güncelliğinin takibi</li>
                    <li>	Tüketici hukuku alanında tüm mevzuatın güncelliğinin takibi</li>
                    <li>	Tüketicinin şikayetlerine karşı hukuki çözüm yolları üretmek</li>
                    <li>    Satıcı ile alıcı arasında yapılacak sulh görüşmeleri, protokole bağlanması</li>
                    <li>	Ayıplı mal ya da ayıplı hizmetten kaynaklanan uyuşmazlıkların çözümü</li>
                    <li>	Tüketici ve Ticaret Mahkemelerinde görülen uyuşmazlıkların çözümü</li>
                </ul>
            </div>
        </div>

    </div>
</div>