
@{
    ViewBag.Title = "TurizmHukuku";
    Layout = "~/Views/Shared/Layoutsingle.cshtml";
}

<div id="colorlib-practice">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center colorlib-heading">
                <h2>  TURİZM HUKUKU</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 colorlib-heading">
                <p>
                    Spesifik bir konu olması ve pek çok hukuk dalını aynı anda içinde barındıran bir dal olması hasebiyle
                    yetişmiş hukukçunun az olduğu Turizm Hukukunda; Çelikten Avukatlık Bürosu yıllardır yerli ve yabancı
                    çok sayıda müvekkiline hizmet vermeye devam etmektedir.
                </p>
                <h4>Çelikten tarafından Turizm Hukuku alanında verilen hizmetlerden bazıları;</h4>
                <ul>

                    <li>
                        2634 sayılı Turizm Teşvik Kanunu çerçevesinde tanınan tüm teşviklerden müvekkillerinin
                        yararlanması hususunda danışmanlık,
                    </li>
                    <li>Turizm yatırım süreci boyunca hukuki danışmanlık</li>
                    <li>Seyahat acentesi ile otel arasındaki tüm ihtilaflar </li>
                    <li>Turizm işletmelerinin kira işleri ve devir işlemleri </li>
                    <li>Ecrimisile ilişkin ihtilaflar </li>
                    <li> Turizm teşvik kanunu çerçevesinde tüm idari/hukuki davalar</li>
                    <li>Kıyı kanunu ve Orman Kanunu çerçevesinde davalar </li>
                    <li> Aktif danışmanlık</li>
                </ul>
            </div>
        </div>

    </div>
</div>
