
@{
    ViewBag.Title = "Vekaletnameveodemebilgileri";
    Layout = "~/Views/Shared/Layoutsingle.cshtml";
}


<div id="colorlib-practice">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center colorlib-heading">
                <h2>Vekaletname Ve Ödeme Bilgileri</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 colorlib-heading">

                <p> Gerçek ya da tüzel kişi olarak herhangi bir hukuki işlem ya da açılacak dava ilgili olarak, sizi temsil etmek üzere 1136 Sayılı Kanun ile yetkilendirilmiş Avukatlara vekâletname çıkartmanız gerekmektedir. Vekâletname için notere başvurmanız gereklidir. Eğer bir dava, hukuki işlem ya da icra takibi ile karşı karşıya iseniz o halde avukatınız olarak seçtiğiniz kişiye dava ve diğer hukuki takipler için "Genel Vekâletname" çıkartılması gerekmektedir.Noterde yanınızda mutlaka nüfus cüzdanı ya da pasaportunuz bulunmalıdır.Noterde yanınızda mutlaka nüfus cüzdanı ya da pasaportunuz bulunmalıdır. Boşanma, mirasın reddi, tanıma ve tenfiz gibi özel yetki gerektiren davalarda mutlaka bu hususun vekâletnamede yer alması gereklidir. Aynı zamanda boşanma davasında temsiliniz için verilen vekâletnamelerde vekil eden kişinin iki adet fotoğrafının bulunması da gereklidir. Şirket vekâletnamelerinde vekil edecek kişinin şirketi temsile yetkili olduğunu gösteren yetki belgesi ve imza sirkülerinin bulunması ve aynı zamanda avukat şirket dışında şahsen de vekil kılınmak isteniyorsa vekâletnameye “şirket adına vekâleten, kendi adına asaleten” ifadesinin yer alması gerekmektedir. Yurt dışından vekil tayin etmek isteyen kişiler ise, noterler yerine Türkiye Cumhuriyeti’nin dış temsilcilikleri yoluyla da vekâletname çıkarabileceklerdir. Birden fazla kimse, tek bir vekaletname ile noterde vekalet verebilir.</p>

                <h4>Vekalet Bilgileri</h4>
                <ul>
                    <li>Av. Ahmet Baha Çelikten </li>
                    <li> Mithatpaşa Vergi Dairesi - 15395596328)  </li>
                    <li> Fevzi Çakmak-1 Sokak Petek apt. No:7/9 Kızılay- Ankara  </li>

                </ul>
                <h4>VEKÂLETNAME İÇİN GEREKLİ BELGELER</h4>
                <ul>
                    <li>	 Özel kişiler noterde evrak düzenletirken nüfus cüzdanlarını yahut pasaportlarını ibraz etmek zorundadırlar.</li>
                    <li>	Boşanma davaları için çıkarılacak vekâletname için ayrıca iki adet fotoğraf gerekmektedir. Çıkarılan vekâletnamenin boşanma vekaletnamesi olduğu Notere özellikle belirtilmelidir.</li>
                    <li>	Şirketler/tüzel kişiler adına düzenlenecek vekâletnamelerde imza sirkülerinin ve yetki belgesinin ibrazı gerekmektedir.</li>
                    <li>	Vergi mükellefi gerçek ve tüzel kişilerin vergi numaralarını bildirmeleri zorunludur.</li>
                    <li>	Yurtdışındaki vatandaşlar TC. Konsolosluklarında vekâletname düzenleyebilirler.</li>
                    <li>	Birden fazla kimse, tek bir vekaletname ile noterde vekaletname düzenleyebilir.</li>
                </ul>


                <h4>Not:</h4>
                <p>Vekâletname ile ilgili bilgiler ve gerekli evraklar web sitemizde kısaca bilgilendirme amacıyla yazılmış olup, farklı vekâletnameler içeriği itibariyle daha geniş ya da daha dar yetki içerebilmektedirler.</p>
            </div>
        </div>

    </div>
</div>
