
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ÇELİKTEN HUKUK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="../Content/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="../Content/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="../Content/css/bootstrap.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="../Content/css/magnific-popup.css">
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="../Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../Content/css/owl.theme.default.min.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="../Content/css/flexslider.css">
    <!-- Flaticons  -->
    <link rel="stylesheet" href="../Content/fonts/flaticon/font/flaticon.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="../Content/css/style.css">
    <!-- Modernizr JS -->
    <script src="../Content/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <style>

        .white {
            color: white;
        }

        .image-grid-cover {
            width: 100%;
            background-size: cover;
            min-height: 180px;
            position: relative;
            margin-bottom: 30px;
            text-shadow: rgba(0,0,0,.8) 0 1px 0;
            border-radius: 4px;
        }

        .image-grid-clickbox {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            z-index: 20;
            background: rgba(0,0,0,.45);
        }

        .cover-wrapper {
            font-size: 18px;
            text-align: center;
            display: block;
            color: #fff;
            text-shadow: rgba(0,0,0,.8) 0 1px 0;
            z-index: 21;
            position: relative;
            top: 80px;
        }

        a, a:focus, a:hover {
            text-decoration: none;
            outline: 0;
        }
        #colorlib-practice {
             padding: 4em 0!important; 
            clear: both;
        }

        .colorlib-heading {
            margin-bottom: 1em!important;
        }
    </style>
</head>
<body>

    <div class="colorlib-loader"></div>

    <div id="page">



        <nav class="colorlib-nav" role="navigation">
            <div class="top-menu">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            <div id="colorlib-logo"><a href="../Sayfalar/AnaSayfa"><img src="../Content/images/logo-2.png" style="width:60%;" />  </a></div>
                        </div>
                        <div class="col-md-10 text-right menu-1">
                            <ul>
                                <li><a href="../Sayfalar/AnaSayfa">ANASAYFA</a></li>
                                <li><a href="../Sayfalar/Baglantilar">BAĞLANTILAR</a></li>
                                <li><a href="../Sayfalar/Vekaletnameveodemebilgileri">VEKALETNAME BİLGİLERİ</a></li>
                                <li><a href="../Sayfalar/odemebilgileri"> ÖDEME BİLGİLERİ</a></li>
                                <li><a href="../Sayfalar/Calismaalanlari">ÇALIŞMA ALANLARIMIZ</a></li>
                                <li><a href="../Sayfalar/Hakkimizda">HAKKIMIZDA</a></li>
                                <li><a href="../Sayfalar/Yasaluyari">YASAL UYARI</a></li>
                                <li><a href="../Sayfalar/Iletisim">İLETİŞİM</a></li>
                                <!-- <li class="btn-cta"><a href="#"><span>Sign Up</span></a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <aside id="colorlib-hero" style="min-height: 300px!important;height: 351px!important;">
            <div class="flexslider" style="min-height: 300px!important;height: 351px!important;">
                <ul class="slides" style="min-height: 300px!important;height: 351px!important;">
                    <li style="background-image: url(../Content/images/hukuk.jpg);height: 351px!important;min-height: 300px!important;">
                        <div class="overlay-gradient"></div>
                        <div class="container">
                            <div class="col-md-10 col-md-offset-1 text-center slider-text">
                                <div class="slider-text-inner desc">
                                    <h2 class="heading-section" style="margin-bottom: 55vh!important;">ÇELİKTEN HUKUK</h2>

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>

        @RenderBody()


        <footer id="colorlib-footer" role="contentinfo">
            <div class="container">
                <div class="row row-pb-md">
                    <div class="col-md-4 colorlib-widget">
                        <img src="../Content/images/logo-2beyaz.png" style="width:50%;padding:1rem" />
                        <p>ÇELİKTEN HUKUK profesyonelliği hedef edinen ve sektörün mutlak gereklilikleri olan,üstün hizmet anlayışı,kültür birikimi ve iş ahlakına sahip kadrosu ile tecrübeli, iddialı ve dinamik yapısını korumaktadır.</p>
                    </div>
                    <div class="col-md-4 col-md-push-1">
                        <h4>SİTE HARİTASI</h4>
                        <ul class="colorlib-footer-links">
                            <li><a href="../Sayfalar/AnaSayfa">ANASAYFA</a></li>
                            <li><a href="../Sayfalar/Baglantilar">BAĞLANTILAR</a></li>
                            <li><a href="../Sayfalar/Vekaletnameveodemebilgileri">VEKALETNAME BİLGİLERİ</a></li>
                            <li><a href="../Sayfalar/odemebilgileri"> ÖDEME BİLGİLERİ</a></li>
                            <li><a href="../Sayfalar/Hakkimizda">HAKKIMIZDA</a></li>
                            <li><a href="../Sayfalar/Yasaluyari">YASAL UYARI</a></li>
                            <li><a href="../Sayfalar/Iletisim">İLETİŞİM</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-md-push-1">
                        <h4>İLETİŞİM</h4>
                        <ul class="colorlib-footer-links">
                            <li>Fevzi Çakmak-1 Sokak Petek apartmanı </br>No:7/9 Kızılay- Ankara</li>
                            <li><a href="tel:+903122298300 ">    0312 229 83 00</a></li>
                            <li><a href="mailto:info@celiktenhukuk.com">info@celiktenhukuk.com</a></li>
                        </ul>
                    </div>

                </div>
                <div class="row copyright">
                    <div class="col-md-12 text-center">
                        <p>
                            <small class="block">&copy;  ÇELİKTEN HUKUK</small>

                        </p>
                        <p>
                            <ul class="colorlib-social-icons">
                                <li><a href="https://twitter.com/celiktenhukuk"><i class="icon-twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/celiktenhukuk"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>

                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </footer>


    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

    <!-- jQuery -->
    <script src="../Content/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="../Content/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="../Content/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="../Content/js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="../Content/js/jquery.stellar.min.js"></script>
    <!-- Carousel -->
    <script src="../Content/js/owl.carousel.min.js"></script>
    <!-- Flexslider -->
    <script src="../Content/js/jquery.flexslider-min.js"></script>
    <!-- countTo -->
    <script src="../Content/js/jquery.countTo.js"></script>
    <!-- Magnific Popup -->
    <script src="../Content/js/jquery.magnific-popup.min.js"></script>
    <script src="../Content/js/magnific-popup-options.js"></script>
    <!-- Main -->
    <script src="../Content/js/main.js"></script>
</body>
</html>
